// Global font family.
$primary-font-family : 'Bruno Ace SC', cursive;

// Color variables
$primary-bg-color : #000000;
$secondary-bg-color : #111111;
$ternary-bg-color-light : #ffffff;

// Button Color
$primary-btn-color : #00c7e6;
$secondary-btn-color : #ff7452;

// Text Color
$primary-text-color : #ffffff;

// Icon Color
$primary-add-icon-color : #00c7e6;
$primary-completed-icon-color : #00897b;
$primary-edit-icon-color : #c270c0;

